* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}

.game {
  position: relative;
}

.game .colors {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  border-radius: 50%;
  width: fit-content;
  /* overflow: hidden; */
}

.game .colors .color {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  transition: 0.3s;
}

.game .colors .red {
  /* background-color: #f55f5c; */
  background-color: #993d32;
  border-top-left-radius: 100%;
}
.game .colors .green {
  /* background-color: #45f57c; */
  background-color: #3a993a;
  border-top-right-radius: 100%;
}
.game .colors .yellow {
  /* background-color: #f5db76; */
  background-color: #998132;
  border-bottom-left-radius: 100%;
}
.game .colors .blue {
  /* background-color: #515af5; */
  background-color: #326d99;
  border-bottom-right-radius: 100%;
}

.game .controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #191919;
  width: 200px;
  height: 200px;

  border-radius: 50%;
}

.controls .score {
  font-family: "alarm clock", sans-serif;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 40px;
}

.container button {
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 2px solid #eeeeee80;
  margin-top: 30px;
  transition: 0.3s;
}

.container button:hover {
  background-color: rgba(255, 255, 255, 0.166);
}
