* {
  margin: 0px;
  /* box-sizing: border-box; */
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 600px;
  margin: 10% auto;
  border: 20px solid #aaa;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #aaa;
  top: 0;
}

.container::before {
  left: 50%;
  transform: translateX(-50%);
}
.container::after {
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.container .row {
  display: flex;
}

.container .row > div {
  width: 300px;
  height: 300px;
}

.container .red {
  background-color: red;
}
.container .green {
  background-color: green;
}
.container .yellow {
  background-color: yellow;
}
.container .blue {
  background-color: blue;
}

.container .controls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #aaa;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
